@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  color: #e9e9e9;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../img/body.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {

  html,
  body {

    background: url(../img/mobile-bg.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3570px;
  }

}

html body main {
  max-width: 150rem;
}

html body nav .header {
  max-width: 150rem;
}

main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

main>* {
  flex-shrink: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 6rem 4.9rem;
}

@media (max-width: 600px) {
  .container {
    min-height: initial;
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

#home .middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4rem;
  font-size: clamp(10px, 1.2vw, 1rem);
  position: relative;
}

#home .middle h1 {
  line-height: 0.845em;
  font-size: 5.7em;
  font-weight: 300 !important;
}

#home .middle h1 span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  line-height: 1em;
  background: linear-gradient(180deg, #FFFFFF 0%, #71717A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#home .middle h1 .italic {
  font-style: italic;
  font-weight: 100;
  font-family: "Space Grotesk", sans-serif;
}

#home .middle .checkout {
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  color: #c6c7c9;
  border: 2px solid #c6c7c9;
}

#home .bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

#home .bottom .mileStones {
  padding-top: 1em;
  display: flex;
  font-size: 1.4em;
  gap: 5.4em;
}

#home .bottom .mileStones .mileStone {
  text-align: center;
}

#home .bottom .mileStones .mileStone .text h1 {
  font-size: 1.96em;
}

#home .bottom .mileStones .mileStone .text p {
  font-size: 1em;
  font-family: "Space Grotesk", sans-serif;
  white-space: nowrap;
}

@media (max-width: 600px) {
  #home {
    padding-top: 10vh;
    height: 85vh;
  }

  #home .middle {
    font-size: 0.75rem;
  }

  #home .middle h1 br {
    display: none;
  }

  #home .middle .checkout {
    font-size: 2.2em;
  }

  #home .bottom .mileStones {
    gap: 3em;
  }

  #home .bottom .mileStones .mileStone {
    font-size: 1rem;
  }
}

/* Home Page Section 2 */
#about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  justify-content: space-around;
}

#about .top {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 48.2px;
  line-height: 51px;
  letter-spacing: -1.2px;

}

#about .top span {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.02em;
  font-size: 3rem;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #71717A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#about .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .middle .video-container {
  aspect-ratio: 16/9;
  position: relative;
  max-width: 68rem;
  border-radius: 1.7rem;
  overflow: hidden;
  width: 100%;
  border: none;
}

#about .middle .video-container img,
#about .middle .video-container iframe {
  height: 100%;
  width: 100%;
}

#about .middle .video-container .play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

#about .middle .video-container .play-pause i {
  font-size: 4em;
  aspect-ratio: 1/1;
  display: flex;
  padding: 0.9em;
  outline: solid 0.05em var(--white);
  border-radius: 50%;
  color: var(--white);
}

#about .middle .video-container .play-pause i::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-left: 0.08em;
}

#about .bottom {
  display: flex;
  justify-content: center;
}

#about .bottom .btn {
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  color: #c6c7c9;
  border: 2px solid #c6c7c9;
}

@media (max-width: 600px) {
  #about .top span {
    font-size: 1.75rem;
  }

  #about .top span br {
    display: none;
  }

  #about .middle .video-container {
    border-radius: 0.5rem;
  }

  #about .bottom .btn {
    font-size: 1.5rem;
  }
}

/* Courses Section */

#courses {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 6rem;
}

#courses .top h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

#courses .top h1 span {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.02em;
  font-size: 3rem;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #71717A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#courses .bottom .courses {
  display: grid;
  gap: 2rem;
  row-gap: 7rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

#courses .bottom .courses .course-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 0 25rem;
}

#courses .bottom .courses .course-wrapper .course {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  --border-radius: 1rem;
  --body-padding: 1.8rem;
  --body-padding-vertical: 2rem;
  width: 100%;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: var(--ui-element-color);
}

#courses .bottom .courses .course-wrapper .course .course-image {
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#courses .bottom .courses .course-wrapper .course .course-image img {
  height: 100%;
  width: 100%;
}

#courses .bottom .courses .course-wrapper .course .course-image .sub-tags {
  position: absolute;
  top: 0.8em;
  right: 0.75em;
}

#courses .bottom .courses .course-wrapper .course .course-image .sub-tags .sub-tag {
  background-color: var(--mercury);
  color: var(--black);
  padding: 0.4em 1.3em;
  border-radius: 0.45em;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 800;
}

#courses .bottom .courses .course-wrapper .course .course-body {
  flex: 1 0 auto;
  padding: var(--body-padding-vertical) var(--body-padding);
  padding-right: calc(var(--body-padding) - 0.2em);
  border-radius: 0.8rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  flex-grow: 1;
  letter-spacing: 0.02em;
}

#courses .bottom .courses .course-wrapper .course .course-body h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

#courses .bottom .courses .course-wrapper .course .course-body p {
  font-size: 1em;
  font-weight: 300;
  color: var(--boulder);
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#courses .bottom .courses .course-wrapper .course .course-body-tags {
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  position: relative;
}

#courses .bottom .courses .course-wrapper .course .course-body-tags .devider {
  width: 95%;
  height: 0.05em;
  background-color: var(--fuscous-gray);
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
  left: 50%;
}

#courses .bottom .courses .course-wrapper .course .course-body-tags .tags {
  gap: 0.7rem;
  flex-wrap: wrap;
  display: flex;
}

#courses .bottom .courses .course-wrapper .course .course-body-tags .tags .tag {
  background-color: var(--ui-element-highlight-color);
  padding: 0.7rem 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.35rem;
  color: var(--text-color);
  white-space: nowrap;
  width: fit-content;
  font-size: 1em;
}

#courses .bottom .courses .course-wrapper .course .course-instructor {
  padding: calc(var(--body-padding-vertical) - 0.8em) var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ui-element-highlight-color);
  /* border-radius: var(--border-radius); */
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

#courses .bottom .courses .course-wrapper .course .course-instructor p {
  display: flex;
  color: var(--boulder);
  align-items: flex-end;
  gap: 0.4rem;
}

#courses .bottom .courses .course-wrapper .course .course-instructor p>span {
  color: var(--text-color);
}

#courses .bottom .courses .course-wrapper .course .course-instructor span {
  font-size: 1.2em;
  color: var(--text-color);
}

#courses .bottom .courses .course-wrapper.commingSoon .course-image {
  position: relative;
}

#courses .bottom .courses .course-wrapper.commingSoon .course-image::after {
  content: "Coming soon";
  background-color: rgba(24, 24, 24, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Wild-Sand);
  font-size: 1.6em;
  font-family: "NeueMachina";
}

#courses .bottom .courses .course-wrapper .buy-now {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

@media (max-width: 600px) {
  #courses {
    padding: 6rem 0;
    margin-top: 3rem;
    gap: 2em;
  }

  #courses>* {
    padding: 0 var(--main-horizontal-padding);
  }

  #courses .top h1 {
    font-size: 1.5rem;
  }

  #courses .bottom {
    padding: 0 0;
  }

  #courses .bottom .courses {
    padding: 0 var(--main-horizontal-padding);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
  }

  #courses .bottom .courses .course-wrapper {
    flex: 0 0 89%;
    scroll-snap-align: center;
  }

  #courses .bottom .courses .course-wrapper .course {
    font-size: 1.1rem;
  }

  #courses .bottom .courses .course-wrapper .course .course-body h2 {
    font-size: 1.4em;
  }

  #courses .bottom .courses .course-wrapper .course .course-body p {
    font-size: 1em;
  }

  #courses .bottom .courses .course-wrapper .course .course-body-tags .tags .tag {
    font-size: 1em;
  }

  #courses .bottom .courses .course-wrapper .course .course-instructor {
    padding: 1em;
  }

  #courses .bottom .courses .course-wrapper .course .course-instructor p {
    font-size: 0.9em;
  }

  #courses .bottom .courses .course-wrapper .course .course-instructor span {
    font-size: 1.3em;
  }

  #courses .bottom .courses .course-wrapper .buy-now {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1.4em;
  }
}


/* page 4 section */

#companies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#companies .top {
  display: flex;
  justify-content: center;
}

#companies .top h1 {
  text-align: center;
  max-width: 53rem;
}

#companies .top h1 span {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.02em;
  font-size: 3rem;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #71717A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#companies .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40vh;
}

#companies .middle .companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#companies .middle .companies .upper,
#companies .middle .companies .lower {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#companies .middle .companies .upper .companie,
#companies .middle .companies .lower .companie {
  width: 17%;
  max-width: 10rem;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}

#companies .middle .companies .upper .companie img,
#companies .middle .companies .lower .companie img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

#companies .bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#companies .bottom .btn {
  font-size: 1.7rem;
}

@media (max-width: 600px) {
  #companies {
    gap: 4rem;
    margin: 0;
    margin-top: 5rem;
  }

  #companies .top h1 span {
    font-size: 2.4rem;
  }

  #companies .middle .companies {
    gap: 1rem;
  }

  #companies .middle .companies>* {
    gap: 1rem;
  }

  #companies .middle .companies .companie {
    max-width: 6rem;
  }

  #companies .bottom .btn {
    display: none;
  }
}

/* Blog Section */


#blog {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 6rem;
}

#blog .top h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

#blog .top h1 span {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 1.02em;
  font-size: 3rem;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #71717A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#blog .bottom .courses {
  display: grid;
  gap: 2rem;
  row-gap: 7rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

#blog .bottom .courses .course-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 0 25rem;
}

#blog .bottom .courses .course-wrapper .course {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  --border-radius: 1rem;
  --body-padding: 1.8rem;
  --body-padding-vertical: 2rem;
  width: 100%;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: var(--ui-element-color);
}

#blog .bottom .courses .course-wrapper .course .course-image {
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#blog .bottom .courses .course-wrapper .course .course-image img {
  height: 100%;
  width: 100%;
}



#blog .bottom .courses .course-wrapper .course .course-body {
  flex: 1 0 auto;
  padding: var(--body-padding-vertical) var(--body-padding);
  padding-right: calc(var(--body-padding) - 0.2em);
  border-radius: 0.8rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  flex-grow: 1;
  letter-spacing: 0.02em;
}

#blog .bottom .courses .course-wrapper .course .course-body h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 0.7rem;
}


#blog .bottom .courses .course-wrapper .course .course-body-tags .devider {
  width: 95%;
  height: 0.05em;
  background-color: var(--fuscous-gray);
  position: absolute;
  top: 0%;
  transform: translateX(-50%);
  left: 50%;
}

#blog .bottom .courses .course-wrapper .course .course-body-tags .tags {
  gap: 0.7rem;
  flex-wrap: wrap;
  display: flex;
}

#blog .bottom .courses .course-wrapper .course .course-body-tags .tags .tag {
  background-color: var(--ui-element-highlight-color);
  padding: 0.7rem 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.35rem;
  color: var(--text-color);
  white-space: nowrap;
  width: fit-content;
  font-size: 1em;
}

#blog .bottom .courses .course-wrapper .course .course-instructor {
  padding: calc(var(--body-padding-vertical) - 0.8em) var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ui-element-highlight-color);
  /* border-radius: var(--border-radius); */
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

#blog .bottom .courses .course-wrapper .course .course-instructor p {
  display: flex;
  color: var(--boulder);
  align-items: flex-end;
  gap: 0.4rem;
}

#blog .bottom .courses .course-wrapper .course .course-instructor p>span {
  color: var(--text-color);
}

#blog .bottom .courses .course-wrapper .course .course-instructor span {
  font-size: 1.2em;
  color: var(--text-color);
}

#blog .bottom .courses .course-wrapper.commingSoon .course-image {
  position: relative;
}

#blog .bottom .courses .course-wrapper.commingSoon .course-image::after {
  content: "";
  background-color: rgba(24, 24, 24, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Wild-Sand);
  font-size: 1.6em;
  font-family: "NeueMachina";
}

#blog .bottom .courses .course-wrapper .buy-now {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

@media (max-width: 600px) {
  #blog {
    padding: 6rem 0;
    margin-top: 3rem;
    gap: 2em;
  }

  #blog>* {
    padding: 0 var(--main-horizontal-padding);
  }

  #blog .top h1 {
    font-size: 1.5rem;
  }

  #blog .bottom {
    padding: 0 0;
  }

  #blog .bottom .courses {
    padding: 0 var(--main-horizontal-padding);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
  }

  #blog .bottom .courses .course-wrapper {
    flex: 0 0 89%;
    scroll-snap-align: center;
  }

  #blog .bottom .courses .course-wrapper .course {
    font-size: 1.1rem;
  }

  #blog .bottom .courses .course-wrapper .course .course-body h2 {
    font-size: 1.4em;
  }

  #blog .bottom .courses .course-wrapper .course .course-body p {
    font-size: 1em;
  }

  #blog .bottom .courses .course-wrapper .course .course-body-tags .tags .tag {
    font-size: 1em;
  }

  #blog .bottom .courses .course-wrapper .course .course-instructor {
    padding: 1em;
  }

  #blog .bottom .courses .course-wrapper .course .course-instructor p {
    font-size: 0.9em;
  }

  #blog .bottom .courses .course-wrapper .course .course-instructor span {
    font-size: 1.3em;
  }

  #blog .bottom .courses .course-wrapper .buy-now {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1.4em;
  }
}